* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #282828;
    color: white;
}

.logo h1 {
    font-size: 24px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}


nav ul li a:hover {
    background-color: #ff4747; 
    color: white;
}


nav ul li a.active {
    background-color: #ff4747; 
    color: white;
}


.search {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

#main1 {
    background: url('images.jpg') no-repeat center center/cover;
    color: white;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main{
    max-width: 600px;
}

.main h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.main p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff4747;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#offers {
    padding: 50px;
    background-color: #f4f4f4;
    text-align: center;
}

.item {
    display: inline-block;
    width: 30%;
    margin: 10px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#main2 {
    background-color: #282828;
    color: white;
    padding: 50px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
